/* You can add global styles to this file, and also import other style files */

* {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* prevent tap highlight color / shadow */
    -webkit-tap-highlight-color: transparent;
    // -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */

    box-sizing: border-box;
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &::before,
    &::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    * {
        ul {
            list-style: none;

            li {
                user-select: none;
            }
        }

        a {
            cursor: pointer;
            display: inline-block;
            user-select: none;
        }
    }
}