@use "../../../../styles/colors";
@use "../../../../styles/global";

.container-products-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;

    .actions-up {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .product-list-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        background-color: var(--white);
        border-radius: 3px;
        padding: 1rem;

        .product-list {}

        .actions-bottom {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1rem;
            justify-content: space-between;

            .action-info {
                width: 100%;
            }

            .action-pages {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--astronaut);
                    padding: 0 1rem;
                    height: 30px;
                    text-align: center;
                    font-size: 14px;
                    cursor: pointer;
                    @include global.border-radius-custom(5px);
                    @include global.border-custom(1px, var(--iron));
                    @extend %appearance-none;
                    // border: none;
                    background-color: var(--white);
                    // background-color: var(--athens-gray);
                }
            }

            .select-action {
                display: flex;
                align-items: center;
                justify-content: right;
                width: 100%;

                select {
                    color: var(--astronaut);
                    height: 30px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 0 1rem;
                    cursor: pointer;
                    background-color: var(--white);
                    @include global.border-custom(1px, var(--iron));
                    @include global.border-radius-custom(5px);
                }
            }
        }
    }

}