@use "../../../../styles/colors";
@use "../../../../styles/global";


.container-products-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;

    .actions-up {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .product-list-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        background-color: var(--white);
        @include global.border-radius-custom(3px);
        padding: 1rem;

        .product-list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .table {
                width: 100%;
                font-size: 14px;
                background: var(--white);
                @include global.border-radius-custom(3px);

                /* --- HEADER --- */
                .header-table {
                    background-color: var(--catskill-white);
                    @include global.border-custom(1px, var(--iron), "bottom");

                    .tr {
                        display: grid;
                        padding: 20px 20px;
                        align-items: center;
                        gap: 15px;
                        grid-template-columns: global.$table-columns;
                    }

                    .th {
                        font-weight: 500;
                    }
                }

                /* --- BODY --- */
                .body-table {
                    display: flex;
                    flex-direction: column;

                    p {
                        padding: 30px;
                        text-align: center;
                    }
                }
            }
        }

        .actions-bottom {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1rem;
            justify-content: space-between;

            .action-info {
                width: 100%;
            }

            .action-pages {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 1rem;
                    height: 30px;
                    text-align: center;
                    font-size: 14px;
                    cursor: pointer;
                    @extend %appearance-none;
                    @include global.border-radius-custom(5px);

                    &:not(.disabled) {
                        color: var(--astronaut);
                        background-color: var(--white);
                        @include global.border-custom(1px, var(--iron));
                    }

                    &:hover {
                        background-color: var(--catskill-white);
                    }
                }
            }

            .select-action {
                display: flex;
                align-items: center;
                justify-content: right;
                width: 100%;

                select {
                    height: 30px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 0 1rem;
                    cursor: pointer;
                    color: var(--astronaut);
                    background-color: var(--white);
                    @include global.border-custom(1px, var(--iron));
                    @include global.border-radius-custom(5px);

                    &:hover {
                        background-color: var(--catskill-white);
                    }
                }
            }
        }
    }

    .disabled {
        @extend %disabled;
    }
}