
<div class="container-products-list">

    <div class="actions-up">

        <app-search
            [maxWidth]="'250px'"
            (searching)="searching($event)"/>
        
        <app-button
            [label]="'Agregar'"
            [routerLink]="['/products/add']"/>

    </div>

    <div class="product-list-content">

        <div class="product-list">

            <div class="table">

                <div class="header-table">
                    <div class="tr">
                        <div class="th">
                            <span>Logo</span>
                        </div>
                        <div class="th">
                            <span>Nombre del producto</span>
                        </div>
                        <div class="th">
                            <span>Descripción</span>
                        </div>
                        <div class="th">
                            <span>Fecha de liberación</span>
                        </div>
                        <div class="th">
                            <span>Fecha de reestructuración</span>
                        </div>
                        <div class="th">
                            <span>...</span>
                        </div>
                    </div>
                </div>

                <div class="body-table">

                    @for (item of pageProducts(); track item.id) {
                        <app-product-item
                            (onDelete)="onDeleteRequest(item)"
                            [product]="item"/>
                    } @empty {
                        <p>No hay productos para mostrar.</p>
                    }

                </div>

            </div>

        </div>
    
        <div class="actions-bottom">
        
            @if (totalPages() > 1) {
    
                <span class="action-info">{{paginationInfo()}}</span>
            
                <div class="action-pages">
                    <button (click)="prevPage()"
                        [disabled]="currentPage() == 1">Anterior</button>
                    
                    <button (click)="nextPage()"
                        [disabled]="currentPage() == totalPages()">Siguiente</button>
                </div>
    
                <div class="select-action">
                    <select #pageSizeSelection
                        (change)="changePageSize(pageSizeSelection.value)"
                        [value]="pageSize()"
                        name="select-page">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>
            
            }
        
        </div>
    
    </div>


</div>


<app-modal
    [visible]="showDeleteModal()"
    [title]="'Estás seguro de eliminar el producto ' + productToDeleteName() + '?'"
    (onClose)="closeModal()"
    (onConfirm)="confirmDelete()"
    />
