
<app-search
    (searching)="searching($event)"/>

<app-button
    [label]="'Agregar'"
    [routerLink]="['/products/add']"/>


<div class="product-list-content">

    @for (item of pageProducts(); track item.id) {
        <app-product-item
            (onDelete)="onDeleteRequest(item)"
            [product]="item"/>
    } @empty {
        <p>No hay productos para mostrar.</p>
    }

</div>

@if (totalPages() > 1) {

    <div>
        <span>select page</span>
        <select #pageSizeSelection
            (change)="changePageSize(pageSizeSelection.value)"
            [value]="pageSize()"
            name="select-page">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>
    
    <div>
        <button (click)="prevPage()"
            [disabled]="currentPage() == 1">Anterior</button>
        
        <span>{{paginationInfo()}}</span>
        
        <button (click)="nextPage()"
            [disabled]="currentPage() == totalPages()">Siguiente</button>
    </div>

}


<app-modal
    [visible]="showDeleteModal()"
    [title]="'Estás seguro de eliminar el producto ' + productToDeleteName() + '?'"
    (onClose)="closeModal()"
    (onConfirm)="confirmDelete()"
    />
