@use "../../../styles/colors";

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    color: var(--astronaut);
    background-color: var(--white);
}