@use "../../../styles/colors";

.nav-bar {
    font-family: "Croissant One", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    color: var(--astronaut);
    background-color: var(--white);

    .content-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    span {
        cursor: pointer;
    }

    .material-icons-outlined {
        font-weight: 300;
        transform: scaley(-1);
        transform-origin: center;
    }
}