<div class="item-row">

    <div class="cell logo">
        <img
            [src]="product().logo"
            alt="logo"
            onerror="this.src='assets/img/no-logo.png'"
        >
    </div>

    <div class="cell">
        <span>{{product().name}}</span>
    </div>

    <div
        class="cell description"
        [title]="product().description"
    >
        {{ product().description }}
    </div>

    <div class="cell">
        {{ product().date_release | date:'dd/MM/yyyy' }}
    </div>

    <div class="cell">
        {{ product().date_revision | date:'dd/MM/yyyy' }}
    </div>

    <div class="cell actions">
    
        <button class="dots-btn" (click)="toggleMenu($event)">
            &#8942;
        </button>

        @if (showMenu) {
            <div class="dropdown-menu">
                <a [routerLink]="['/products/edit', product().id]" class="menu-item">
                    Editar
                </a>
                <button class="menu-item" (click)="delete($event)">
                    Eliminar
                </button>
            </div>
        }
    </div>

</div>
