@use "../../../../styles/colors";
@use "../../../../styles/global";
@use "../../../../styles/media-screen";

.container-form {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: flex-start;
    margin: 0 auto;
    background-color: var(--white);
    @include global.border-radius-custom(4px);

    @include media-screen.size("max-width", 728px) {
        width: 100%;
    }

    .head-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 2rem;

        h2 {
            font-weight: 500;
        }
    }

    .divider {
        border: 0;
        margin: 0;
        border-top: 1px solid var(--bombay);
        // @include global.border-custom(1px, var(--bombay), "top");
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-groups {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            padding: 0.5rem 2rem;

            @include media-screen.size("max-width", 728px) {
                grid-template-columns: 1fr;
            }
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                font-size: 14px;
                font-weight: 500;
            }

            input {
                font-size: 14px;
                color: var(--abbey);
                padding: 0.5rem 1rem;
                height: 40px;
                width: 100%;
                background-color: var(--white);
                @extend %appearance-none;
                @include global.border-custom(1px, var(--bombay));
                @include global.border-radius-custom(5px);
            }

            .error-msg {
                color: var(--japonica);
                font-size: 14px;
            }

            .disabled {
                @extend %disabled;
            }
        }

        .button-group {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            padding: 2rem;
        }
    }
}