@use "../../../styles/colors";
@use "../../../styles/global";

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        @extend %appearance-none;
        font-size: 16px;
        color: var(--abbey);
        padding: 0.5rem 1rem;
        height: 40px;
        width: 100%;
        background-color: var(--white);
        @include global.border-custom(1px, var(--iron));
        @include global.border-radius-custom(5px);
    }

    .padding-right {
        padding-right: 48px;
    }
}