:host {
    --white: #ffffff;
    --astronaut: #222d68;
    --starship: #f3e250; // background element
    --cod-gray: #0e0e0e; // text title
    --abbey: #4d4d51; // text main
    --mid-gray: #67676a; // text
    --jumbo: #88888a; // text placeholder
    --aqua-haze: #f4f6f9; // background feature
    --catskill-white: #f9fafc; // background element main
    --athens-gray: #eaecf3; // background element
    --mid-gray-trans: #6e6e73dc; // background out modal
    --manatee: #929296; // icons main
    --iron: #dddde0; // border components
    --bombay: #b2b2b4; // border split main
    --blue-haze: #c1c6d9; // logo
    --japonica: #dd7473; // error
}